@import 'layout';

.ta-right {
  text-align: right;
}

.ta-left {
  text-align: left;
}

.ta-center {
  text-align: center;
}

.border-right {
  border-right: 1px solid #f0f0f0;
}

.border-left {
  border-left: 1px solid #f0f0f0;
}

.border-top {
  border-top: 1px solid #f0f0f0;
}

.border-bottom {
  border-bottom: 1px solid #f0f0f0;
}