.placeholder-image {
  width: 240px;
  height: 135px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f0f2f5;

  svg {
    width: 64px !important;
    height: 64px !important;
    opacity: .5;
  }
}