.rooms-list {
  &__extra {
    order: 1;
  }

  &__meta {
    order: 2;
    padding: 0 12px;
  }

  &__actions {
    order: 3;
  }

  &__options {
    .ant-typography + .ant-typography {
      margin-left: 8px;
    }
  }
  &__carousel {
    width: 240px;
    height: 135px;
  }

  &__image {
    width: 240px;
    height: 135px;

    img {
      width: 240px;
      height: auto;
    }
  }
}